{{#partial "content"}}

    <h1>Your Change:</h1>
    <ul>
        <li>Quarters: {{Quarters}}</li>
        <li>Dimes: {{Dimes}}</li>
        <li>Nickels: {{Nickels}}</li>
        <li>Pennies: {{Pennies}}</li>
    </ul>

{{/partial}}

{{> layout.hbs}}