<!--form.hbs.-->
{{#partial "content"}}

    <h1>Enter an amount and we'll return the coins.</h1>
    <form action='/change'>
        <div class="form-group">
            <label for="amount">Amount></label>
            <input id="amount" name="amount" class="form-control" type="number">
        </div>
        <button type="submit" class="btn btn-primary">Calculate!</button>
    </form>
    <!--form.hbs.-->
{{/partial}}

{{> layout.hbs}}